@import "styles/variables";

.servicesHero {
  background-color: $primary;
  padding: 70px 0;
  @media (min-width: 1200px) {
    //old styles
    //height: calc(100vh - 400px);

    //new styles
  }

  .title {
    font-size: 26px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 1.125px;
    margin-bottom: 30px;
    color: #fff;

    @media (min-width: 768px) {
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 1.125px;
    }
  }

  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #fff;
  }
}
