@import 'styles/variables';

.priceSection {
  padding: 70px 0;
  background-color: $primary;
  position: relative;

  @media (min-width: 1400px) {
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 85px;
      height: 100%;
      background-color: white;
    }
  }

  .title {
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.583333px;
    color: #03baff;

    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }

  .price {
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: $secondary;
    white-space: nowrap;

    @media (min-width: 768px) {
      font-size: 80px;
      line-height: 99px;
    }

    span {
      color: #fff;
    }

    small {
      color: #fff;
      font-size: 44px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.64px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .list {
    margin-bottom: 60px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    li {
      font-weight: 400;
      font-size: 14px;
      padding: 15px 0 15px 30px;
      line-height: 17px;
      position: relative;
      letter-spacing: 0.523636px;
      color: #ffffff;
      border-bottom: 2px dashed rgba(#dfdfdf, 0.3);

      @media (min-width: 768px) {
        padding: 25px 0 25px 50px;
        font-size: 18px;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
      }

      &:after {
        transform: rotate(90deg);
      }
    }
  }
}
