@import "styles/variables";

.priceSection {
  position: relative;

  //old
  //background-color: $primary;
  //padding: 70px 0;

  @media (min-width: 1200px) {
    min-height: calc(100vh - 400px);
  }

  .title {
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;

    color: black;
  }

  .subtitle {
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.583333px;

    //old
    //color: #03baff;

    //new

    color: $primary;

    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }

  .price {
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height */
    letter-spacing: 0.02em;
    white-space: nowrap;

    //old
    //color: $secondary;

    //new
    color: $primary;

    @media (min-width: 768px) {
      font-size: 80px;
      line-height: 99px;
    }

    span {
      //old
      //color: #fff;
    }

    small {
      //old
      //color: #fff;
      font-size: 44px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.64px;
    //old
    //color: #ffffff;
  }

  .list {
    margin-bottom: 60px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    li {
      font-weight: 400;
      font-size: 16px;
      padding: 15px 0 15px 30px;
      line-height: 17px;
      position: relative;
      letter-spacing: 0.523636px;

      // old
      //color: white;
      //border-bottom: 2px dashed rgba(#dfdfdf, 0.3);

      //new
      border-bottom: 1px dashed rgba($primary, 1);

      @media (min-width: 768px) {
        padding: 25px 0 25px 50px;
        font-size: 18px;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 2px;
        background-color: $primary;
        border-radius: 2px;
      }

      &:after {
        transform: rotate(90deg);
      }
    }
  }
}
