@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BrutalType/BrutalType-Regular.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/BrutalType/BrutalType-Medium.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/BrutalType/BrutalType-ExtraBold.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-ExtraBold.ttf') format('ttf');
}
