@import "styles/variables";

.dropdown {
  position: relative;
  display: inline;

  span {
    cursor: pointer;
    white-space: nowrap;
    color: $primary;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1.125px;
    border-bottom: 1px dashed #dfd8f2;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  svg {
    margin: 4px 4px 4px 8px;
    width: 16px;
    height: 16px;

    @media (min-width: 768px) {
      width: 22px;
      height: 22px;
    }
  }

  ul {
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    left: 0;
    top: 5px;
    z-index: 300;

    li {
      padding: 10px 20px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 0 !important;
      line-height: 110%;

      letter-spacing: -0.03em;

      @media (min-width: 768px) {
        font-size: 20px;
      }

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        padding-bottom: 15px;
      }

      &:hover {
        color: $primary;
        background-color: rgba($primary, 0.1);
      }
    }

    .active {
      color: $primary;
      background-color: rgba($primary, 0.1);
    }
  }
}
