@import 'styles/variables';

.noteSection {
  padding: 60px 20px;
  position: relative;
  background-color: $primary;

  @media (min-width: 768px) {
    padding: 20px 0;
  }

  @media (min-width: 1400px) {
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 85px;
      height: 100%;
      background-color: white;
    }
  }

  .title {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.497778px;
    color: $secondary;
    position: relative;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 5px;
    }
  }

  .description {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #ffffff;
  }

  .imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}
