@import "styles/variables";

.servicesHero {
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }

  @media (min-width: 1200px) {
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 3.6px;
    color: #000000;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 58px;
      line-height: 62px;
      text-align: center;
      letter-spacing: 3.6px;
    }

    @media (min-width: 1200px) {
      font-size: 72px;
      line-height: 75px;
      vertical-align: center;
    }
  }
}
