@import 'styles/variables';

.registrationTable {
  .tabs {
    display: flex;
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $primary;
    }
  }
}
