@import './variables';
@import './libs/normalize';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Brutal Type', Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-disabled {
  opacity: 0.5;
}
