@import './variables';
@import './libs/normalize';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BrutalType', Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BrutalType/BrutalType-Regular.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/BrutalType/BrutalType-Medium.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BtutalType';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/BrutalType/BrutalType-ExtraBold.woff2') format('woff2'),
    url('/fonts/BrutalType/BrutalType-ExtraBold.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-disabled {
  opacity: 0.5;
}
